* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
.container nav > img {
  width: 200px;
  position: relative;
  left: -10px;
}
header {
  background-image: url(/brown-roasted-coffee-beans-closeup-600nw-1925210999.webp);
  background-size: cover;
  background-position: center;
  height: 100px;
}
header h1 {
  color: white;
  font-family: "Quintessential", serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  padding: 150px;
}
nav {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  /* background-color: #ddcebe; */
  background: linear-gradient(to right, #ddcebe 20%, #b3826c, #6f4e37);
}
nav a {
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 5%;
  text-align: center;
  color: white;
}
nav button {
  background: linear-gradient(to right, #6f4e37, #b3826c, #dfccbf);
  border: none;
  padding: 10px 16px;
  border-radius: 15.5px;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #fbf6f6;
}
.logotext {
  position: absolute;
  left: 150px;
}
.nav {
  display: flex;
  gap: 50px;
}

body {
  background-color: #6f4e37;
}
main > h1 {
  color: white;
  text-align: center;
  font-size: 50px;
}
.main img {
  width: 460px;
  height: auto;
  margin-left: 10px;
}
.main {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.tips h1 {
  color: white;
  font-size: 40px;
}
.tips {
  padding-top: 30px;
  color: white;
  font-weight: 100;
}
ul {
  padding-top: 20px;
  margin-left: 100px;
  font-size: 20px;
  opacity: 80%;
}
.main2 {
  width: 100%;
  display: flex;
  align-content: left;
}
.main2 img {
  width: 400px;
  margin-right: 10px;
}
#Feedbackform{
margin: auto;
padding: 40px;
}
.feedback-form{
  color: white;
}